* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IM Fell English SC', serif;

}
.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

span { 
    font-size : 100px;
    padding: 10px;
    color: darkgreen;
}

.btn { 
    background: white;
    outline: none;
    border: 1px solid darkgreen; 
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
}